Flask
Flask-CORS
Flask-JWT-Extended
Flask-PyMongo
Flask-RESTful
Flask-SQLAlchemy
Jinja2
MarkupSafe
PyJWT
SQLAlchemy
Werkzeug
aniso8601
click
itsdangerous
mongoengine
passlib
pip
pymongo
python-dateutil
pytz
setuptools
six
uwsgi
wheel